body {
	background: var(--bg-dark, #0E0E15);
	
}

.movie-row {
	display: flex;
	padding-bottom: 20px;
	margin-top: 24px;
	border:solid 1px #5e5e75;
	height :300px;
	width:1300px;
	margin : 10px 220px 0px 220px;
	justify-content: space-between;
}
.divider{
	
	width:1000px;
	height:1px;
	background: red
}
.image-container{
	float : left;
	width : 224px;
	height:320px;
	border:solid 1px #5e5e75;
	
}

.detail-container{
	float: left;
	border:solid 1px #5e5e75;
	width : 1060px;
	height:320px;
	margin :0px 0px 0px 10px ;
}

.Movie_image{
	width : 224px;
	height:320px;
}

.action_row{
	height :80px;
	width:1060px;
	border:solid 1px #5e5e75;
	margin :80px 0px 0px 0px ;
	
}
.row1{
	
	width: auto;
	height: 28px;
	border: 2px solid red;
	
}
.row2{
	border: 2px solid red;
	width:auto;
	height:120px;
	margin-bottom:20px;
}
.icon1{
	padding:20px 26px 0px 80px;
	height:75px;
	width:75px;
	float :left;
}

.first{
	color: var(--text, #F3F3F3);
	font-size: 40px;
	font-family: Karantina;
	font-style: normal;
	font-weight: 400;
	text-transform: capitalize;
	float :left;
	padding: 30px 0px 0px 0px;
}

.mid{
	border: 1px solid blue;
	width:1100px;
	height:120px;
	float:left;
}
.second{
	color: var(--text, #F3F3F3);
	font-size: 30px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	float :left;
	padding: 30px 30px 0px 30px;
}

.third{
	color: var(--text, #F3F3F3);
	font-size: 30px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	padding: 30px 0px 0px 80px;
}
.row11{
	background: var(--bg-dark, #0E0E15);
	height:auto;
	width :auto;
}
.add{
	color: var(--text, #F3F3F3);
	font-size: 20px;
	font-family: Kanit;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	background: var(--bg-dark, #0E0E15);
}


.mid{
	border: 1px solid blue;
	width:1100px;
	height:120px;
	float:left;
}

.row11{
	background: var(--bg-dark, #0E0E15);
	height:600px;
	width :auto;
	border: 1px solid blue;
}
.add{
	color: var(--text, #F3F3F3);
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	text-transform: capitalize;
	background: var(--bg-dark, #0E0E15);
	padding: 140px 0px 0px 200px;
}

.add1{
	color: var(--text, #F3F3F3);
	padding: 0px 0px 20px 200px;
}

.add2{
	color: var(--text, #F3F3F3);
	padding: 0px 0px 0px 200px;
}
.logo{
	background: var(--bg-secondary, #272734);
	width: auto;
	height: 180px;
	border: 1px solid #5e5e75;
	margin-top:120px;
	}
.logo1{
	padding: 60px 0px 0px 10px ;
	width: 40%;
}

.like{
	float : left;
	width:50px;
	padding: 10px 0px 0px 0px;
}
.dislike{

	width:50px;
	padding: 10px 0px 0px 0px;
}
.delete{
	width: 50px;
	padding: 10px 0px 0px 0px;
	margin:-75px 10px 0px 0px;
	float: right;
}
.count{
  height: 35px;
  width: 35px;
  background-color: #bbb;
  border-radius: 60%;
  display: inline-block;
  padding: 10px 10px 0px 0px;
  
}






































